@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Définition des variables de couleurs */
:root {
    --primary-color: rgb(63, 25, 126);
    --secondary-color: rgb(0, 0, 0);
    --btn-color:rgb(151, 141, 168);
    --hover-color:rgb(185, 184, 184);
    --text-color: #fff;
    --bg-primary-color: #f5f4f4;
    --bg-secondary-color: black;
    --font-family: 'Poppins', sans-serif;
}



/* Styles généraux */
body {
    font-family: var(--font-family);
    background-color: var(--bg-primary-color);
    color: var(--secondary-color);
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Poppins",serif;
}

a {
    text-decoration: none;  
}



/* Hero section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0; 
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 20px;
    color: var(--secondary-color);
    text-align: left;
}

.hero h2 {
    font-size: 2.5em;
    line-height: 1.2;
}

.hero p {
    margin: 0;
    font-size: 1.2em;
    line-height: 1.5;
}

.hero img {
    width: 35%;
    padding-right: 200px;
    padding-left: 170px;
}



/* Boutons */
.btn {
    display: block;
    width: 100%;
    background-color: var(--btn-color);
    color: var(--text-color);
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 3px;
    transition: 0.3s;
    text-align: center; 
    box-sizing: border-box; 
}

.btn i { /* Icône rouge à côté du texte */
    color: var(--primary-color);
    margin-left: 10px;
}

.btn:hover {
    background-color: var(--hover-color);
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

.btn-newsletter {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: 0.3s;
}
.btn-newsletter:hover {
    background-color: var(--hover-color);
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

.btn-shop {
    display: block;
    width: 100%;
    color: var(--text-color);
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 3px;
    transition: 0.3s;
    text-align: center; 
    box-sizing: border-box; 
}
.btn-shop i {
    color: var(--primary-color);
    margin-left: 10px;
}

.btn-shop:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}



/* Section shop */
.shop {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
    color: var(--text-color);
}

.category {
    background: var(--bg-secondary-color);
    padding: 20px;
    flex:1;
    border-radius: 30px;
    max-width: 100%;
}



/* Section features */
.features {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px 20px;
    background-color: var(--bg-primary-color);
    flex-wrap: wrap;
}

.feature {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}

.feature-icon {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #f0f0f0; 
    padding: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.features .feature:hover {
    transform: scale(1.2,1.2); 
    margin: 30px;
}
.features:hover > .feature:not(:hover) {
    filter: blur(5px); 
    transform: scale(0.9,0.9); 
}



/* Section newsletter */
.newsletter {
    padding: 50px 20px;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.auth-buttons {
    margin-top: 10px;
}



/* Responsive */
@media (max-width: 768px) {
    .hero, .shop, .features {
        flex-direction: column;
        gap:10px;
        text-align: center;
    }

    .hero img, .feature img {
        width: 50%;
    }

    .category, .feature {
        max-width: 100%;
    }

    .feature-icon {
        width: 100px; 
        height: 100px; 
    }
}
